.populer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 2%;
  }
 .btn{
  background-color: #ff4500;
  border: none;
 }
 .oldprice {
  text-decoration: line-through;
  color: #777;
}

.newprice {
  font-size: 24px;
  color: #222;
}
  